.hidden {
    display: none;
  }
body{
  background-color:rgb(201, 215, 215);
}
#login-form{
  position:absolute;
  top: 25%;
  left: 40%;
  zoom: 200%;
}
#clock{
  zoom: 200%;
  color: rgb(56, 56, 56);
}
#greeting{
  text-align: center;
  zoom:200%;
  color: white;
  background-color:rgb(111, 103, 103);
}
#todo-form{
  position: absolute;
  top:40%;
  left:80%;
  zoom: 180%;
}
#todo-list{
  position: absolute;
  top:45%;
  left:80%;
  zoom: 180%;
}